.building-menu {
  @include aside-wrap;
  padding-top: 43px;
  margin-top: 0;
  margin-bottom: 18px;
  list-style: none;
}

.building-menu__item {
  @include menu-item;
}

.building-menu__link {
  @include menu-style ($color-menu);
}

.building-menu__icon {
  @include menu-icon;
}
