.feedback {
  color: #716048;
}

.feedback__phone {
  @include aside-wrap;
  @include text-size(14px, 28px);
  letter-spacing: 1px;
  color: #716048;

  &:hover {
    color: $color-orange;
  }

  &:focus {
    color: $color-orange;
  }

  &:visited {
   color: #716048;
  }
}

.feedback__note {
  @include aside-wrap;
  margin-bottom: 38px;
}

.feedback__btn {
  @include aside-wrap;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &--orange {
    background-color: $color-orange;
  }

  &--green {
    background-color: $color-green;
  }

  &:hover {
    background-color: #331e19;
  }

  &:focus {
    background-color: #331e19;
  }
}

.feedback__link {
  @include btn-style(#ffe987);

  &:visited {
    color: #ffe987;
  }
}

.feedback__desc {
  display: block;
  color: #cfc38f;
}

.feedback__icon {
  fill: #ffe987;
  margin-right: 29px;
}
