.header {
  height: 90px;
  background-color: #331e19;
  background-image: url('../img/decoration/bg-header.svg');
  background-position: 161px 0;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1280px;

  @media screen and (max-width: $mobile-width) {
    width: 320px;
    height: 120px;
  }
}

.header__wrap {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: space-around;
  }
}

.header__logo {
  width: 156px;
  height: 50px;

  &:hover .header__logo-image {
    fill: $color-orange;
  }

  &:focus .header__logo-image {
    fill: $color-orange;
  }
}

.header__logo-image {
  fill: #cfc38f;
}
