.header {
  height: 90px;
  background-color: #331e19;
  background-image: url('../img/decoration/bg-header.svg');
  background-position: 161px 0;
  background-repeat: no-repeat;
  top: 0;
  position: fixed;
  width: 100%;
  max-width: 1280px;
}

.header__wrap {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 156px;
  height: 50px;

  &:hover .header__logo-image {
    fill: $color-orange;
  }

  &:focus .header__logo-image {
    fill: $color-orange;
  }
}

.header__logo-image {
  fill: #cfc38f;
}
