.sidebar {
  width: 285px;
  height: 815px;
  min-height: 815px;
  background-color: #cfc38f;

  @media screen and (max-width: $tablet-width) {
    width: 250px;
  }

  @media screen and (max-width: $mobile-width) {
    width: 320px;
    position: relative;
    overflow: inherit;
    height: inherit;
  }
}
