.site-menu {
  @include aside-wrap;
  margin-top: 0;
  margin-bottom: 155px;
  list-style: none;

  @media screen and (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.site-menu__item {
  @include menu-item;
}

.site-menu__link {
  @include menu-style ($color-menu);
}

.site-menu__icon {
  @include menu-icon;
}
