@import '../base/normalize.scss';
@import '../base/fonts.scss';
@import '../base/scaffolding.scss';

body {
  font-family: 'Museo Sans', 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: red;
  text-transform: uppercase;
}
