@mixin wrapper {
  padding-left: 30px;
}

@mixin aside-wrap {
  padding-left: 45px;
  padding-right: 15px;
}

@mixin menu-item {
  padding-top: 12px;
  padding-bottom: 12px;
}

@mixin menu-style ($color: #cfc38f) {
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  color: $color;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:hover {
    color: $color-orange;
  }

  &:hover svg {
    fill: $color-orange;
  }

  &:focus {
    color: $color-orange;
  }

  &:focus svg {
    fill: $color-orange;
  }

  &--active {
    color: #5b852c;

    svg {
      fill: #5b852c;
    }
  }

  span {
    display: inline-block;
    line-height: 11px;
    vertical-align: middle;
  }
}

@mixin menu-icon {
  margin-right: 29px;
  fill: $color-menu;
}

@mixin text-size ($font-size: 11px, $line-height: 16px) {
  font-size: $font-size;
  line-height: $line-height;
}
