$font-family: 'Museo Sans', 'Trebuchet MS', sans-serif;
$color-menu: #4f3f00;
$color-orange: #d97925;
$color-green: #415e21;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width-only: 1023px;
